$font: 1em;
$bg: #E7DFC9;
$midblue: #61A2CC;

@mixin border-bottom {
	border-bottom: 5px solid $midblue;
	}

@mixin gray-line {
	border-bottom: 2px solid #E8E8E8;
}



body {
  padding-top: 50px;
  background: url(../img/body_bg.gif);
}

p {
	font-size: 1.063em;
	line-height: 1.223;
	color:#0079C1;

}

a {
	text-decoration:none; 
	color:#0079C1;}

h1, h4, .offerbox-title {
	font-family:Georgia, Tahoma;
}

h2, h2 a {
	color:black; 
	font-family:Georgia, Tahoma; 
	font-weight:normal;}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand {
	padding: 0;
}

.navbar li a:hover {
	background: $midblue;
}

/*.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top: 60px;
}*/

/*#car-container {
	
	max-width: 80%;
	margin: 0 auto;
}*/

/*.carousel-inner .item img {
  position: absolute;
  top: 50px;
  left: 0;
  max-width: 400px;
}

.carousel-inner > .item > img {
  max-width: 400px;
  height: auto;
}*/

.carousel-control:hover {
	color: $midblue;
}

.carousel-caption {
	margin-right: auto;
	margin-left: auto;
}

.carousel-caption p {
	color: #fff;
}

.carousel-indicators {
	bottom: 0;
}

.carousel-indicators .active {
	background-color: $midblue;
}

.carousel-indicators li {
	border-color: $midblue;
}

.btn-primary {
	background: $midblue;
}

.offer-title {
	display: block;
	font-size: $font;
}

.offerbox-title {
	a {
		display: block;
		font-size: $font *2;
		background: $bg; 
		@include border-bottom; 
		text-transform: uppercase; 
		color: #2B6C9B; 
		font-weight: 400; 
		padding: 10px;
		margin: 5px 0;
	}
	ul {

	list-style: url(../img/bullet02.gif);
	-webkit-padding-start: 15px;
	}
	ul li {
	@include gray-line;
   	padding: 10px 5px;
	}
	ul li:nth-child(odd) {
	background: #E8E8E8; 
	}
}

.offer-title a:hover {
	color: red;
}

#qa-icons{
	font-size: $font * 3;
	background: $bg;
	color: $midblue;
	text-align: center;
	padding: 10px;
	margin: 0 15px 10px 15px;
}


.im-logo {
	width: 155px;
	margin: -.75em 0 .95em 0;
}

.thumbnail {
	text-align: center;
}

.thumbnail:hover, .thumbnail img:hover {
    -moz-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
    -webkit-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
    box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
}

.thumbnail img {
	border: 5px solid $bg;
	margin-top: 15px;
}

.thumbnail img:hover {
	margin-top: 10px;
}

.main-footer {
	font-size: .95em;
}

.qa-caption {
	a {
	display: block;
	}
	a:hover{
	background: $bg;
	}
}

/*.link-list {
	list-style-type: none;
	line-height: 1.8;
	margin: 0;
	padding: 0;
}
.copyright {
	opacity: .8;
	font-size: .9em;
}
*/